/* Açık bej arka plan */
html, body { height: 100%; }
body {
  background-color: #ebbc50!important; /* beige */
  color: #000 !important;
}

.wrapper, .container, .page, .page__content, .site, .content {
  background: transparent !important;
}

a { color: #03060a; }  /* siyah link */
a:hover { color:#03060a; } /* siyah hover */
