/* Custom background color */
body {
  background-color: #f5f5dc !important;  /* Beige */
  color: #000000;  /* Yazılar siyah olsun */
}

/* Linkler okunabilir olsun diye */
a {
  color: #4b0082;  /* Mor ton */
}
a:hover {
  color: #800080;  /* Daha koyu mor hover */
}
